.ppobase-sales-report {
    .ppobase-sales-report__link {
        color: #1E88E5;
        cursor: pointer;
        text-decoration: none;
    }

    .ppobase-sales-report__link:hover {
        text-decoration: underline;
    }
}

