.ppobase-supplier-detail {
    .sw-card-view {
        max-width: none !important;
    }

    .sw-card {
        max-width: none !important;
    }

    .sw-tabs {
        max-width: none !important;
    }

    .mt-card {
        max-width: none !important;
    }

    .sw-page__main-content {
        max-width: none !important;
    }
    .mt-card__content {
        min-height: 250px;
    }
}

.ppobase-supplier-list {
    .sw-card-view {
        max-width: none !important;
    }

    .sw-card {
        max-width: none !important;
    }

    .sw-page__main-content {
        max-width: none !important;
    }
}

.ppobase-supplier-create {
    .sw-card-view {
        max-width: none !important;
    }

    .sw-card {
        max-width: none !important;
    }

    .sw-tabs {
        max-width: none !important;
    }

    .mt-card {
        max-width: none !important;
    }

    .sw-page__main-content {
        max-width: none !important;
    }
}

.ppobase-supplier-products {
    .sw-card-view {
        max-width: none !important;
    }

    .sw-card {
        max-width: none !important;
    }

    .sw-page__main-content {
        max-width: none !important;
    }
}
